//Colors
$yellow: #ffd95a;
$dark-yellow: #ffbb01;
$dark: #151517;
$gray: #707070;
$gray-400: #dbdbdb;
$gray-600: #777;
$light-gray: #e8e8e8;
$dark-gray: #4c4c4c;
$orange: #ffa701;

//Sizes
$text-small: 1em;
$text: 1.167em;
$text-medium: 1.333em;

$subtitle: 2em;
$title: 2.5em;
